<h1>Tweets!</h1>

<%= form_tag '/tweets/get_tweets' do |f| %>

    <%=label_tag 'username' %>
    <%=text_field_tag 'username'%>
 
  <div><%= submit_tag 'Fetch Tweets' %></div>

  <% unless @tweets.nil? || @tweets.empty? %>
      <div style="margin-top: 20px;">
        <% @tweets.each do |tweet| %>
          <li><%= tweet.text %></li>
        <% end %>
      </div>
  <% end %>

<% end %>