<h1>Tweets!</h1>

<%= form_tag '/tweets' do |f| %>

    <%=label_tag 'username' %>
    <%=text_field_tag 'username'%>
 
    <div><%= submit_tag 'Fetch Tweets' %></div>

<% end %>

<% unless @message.nil? %>
    <div style="margin: 20px;">
        <h3><%= @message %></h3>
    </div>
<% end %>


<% unless @tweets.nil? || @tweets.empty? %>
    <%= form_tag '/tweets/save_tweets' do |f| %>    
        <div style="margin-top: 20px;">
            <% @tweets.each do |tweet| %>
                <p>
                    <input type="checkbox" name="tweets[]" 
                        value="<%= tweet.id %>&&<%= tweet.user.username %>&&<%= tweet.text %>" />
                    <%= tweet.text %>
                </p>
            <% end %>
        </div>
        <div><%= submit_tag 'Save Selected Tweets' %></div>
    <% end %>
<% end %>